$blue: cornflowerblue;
$black: black;
$white: white;
$wheat: wheat;
$beige: beige;
$floralwhite: floralwhite;
$lightblue: lightblue;
$darkgray: darkgray;
$aliceblue: aliceblue;
$lightgreen: lightgreen;
